a{
    color: rgba(255, 248, 248, 0.8);
    padding:20px;
}

header{
    text-align: center;
}

.cat{
    padding :12px;
    color:antiquewhite;
    font-style: italic;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    background-color: rgba(115, 118, 118, 0.4);
}

a:hover{
    color:black;
}