a{
    color: black;
    padding: 10px;
    text-decoration: none;
}

header{
    color:black;
    text-align: center;
}

.cat{
    background-color: burlywood;
    font-style: italic;
    display: inline-block;
}

body{
    background-color: #6b8ab1;
}

.link{
    color: white;
    text-decoration: dotted;
}

main{
    background-image:linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(../images/project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    font-size:large;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

h1 span, h2 span, p span, ul{
    color: white;
    background-color: rgba(0,0,0,0.5);
}

h1{
    font-size: 0.5in;
}

hr{
    width: 100%;
    height: 2px;
    background-color: white;;
}

button {
    background-color: violet;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

button:hover {
    background-color: indigo;
    transform: translateY(-3px); /* Add a slight lift effect on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
