a{
    color: black;
    padding: 10px;
}

header{
    text-align: center;
}

.cat{
    background-color: burlywood;
    font-style: italic;
    display: inline-block;
}

body{
    background-color: #d84a05;
}

main{
    font-family:sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(images/achievements.jpg);
    background-size:cover;
    background-position-y: center;
    background-position-x: center;
    padding-top: 20px;
    margin-top: 1cm;
    padding:20px;
}

h1 span{
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin-top: 20px;
    font-size: 0.5in;
}

p span, h4 span{
    background-color: rgba(225,225,225,0.5);
}

h4{
    font-size:large;
}

hr{
    width:95%;
    height: 5px;
    background-color: white;    
}

button{
    background-color: violet;
    font-family: 'Arial';
    float: right;
}