a{
    color: black;
    padding: 10px;
}

header{
    text-align: center;
}

.cat{
    background-color: burlywood;
    font-style: italic;
    display: inline-block;
}

body{
    background-color:;
}

main{
    background-image: url(https://img.freepik.com/premium-photo/champion-golden-trophy-winner-background-success-achievement-concept_488220-5559.jpg?w=2000);
}