body{
    background-color: #F2CCC3
}

header{
    text-align: center;
}
.cat{
    background-color: burlywood;
    font-style: italic;
    display: inline-block;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 125px;
    width:1200px;
    background-image: url(https://cdn.wallpapersafari.com/26/10/lV9LYT.jpg);
    background-size:cover;
    background-position-x: 50px;
    background-repeat: repeat-y;
}

.info{
    font-size: large;
    text-align: left;
}

h1{
    font-size: xx-large;
    font-weight:500px;
}

hr{
    background-color: white;
    height: 2px;
}

.edulevel{
    background-color:#b8afaf;
    color:black
}

p, .cert{
    font-size:medium;
}