a{
    color: rgba(255, 248, 248, 0.8);
    padding:20px;
}

header{
    text-align: center;
}

.cat{
    color:antiquewhite;
    font-style: italic;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(255, 248, 248, 0.2);
}

a:hover{
    color:yellow;
}