a{
    color: black;
    padding: 10px;
}

header{
    color:black;
    text-align: center;
}

.cat{
    background-color: burlywood;
    font-style: italic;
    display: inline-block;
}

body{
    background-color: #051923;
}

.exp{
    font-size:xx-large;
}

h2 span, p span{
    background-color: rgba(0,0,0,0.5);
}

h2{
    font-size: 0.5in;
}

main{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,  url(images/experience.jpg);
    background-position-x: center;
    background-repeat: repeat-y;
    background-size: cover;
    margin-top: 1cm;
}

.info{
    padding-top: 8%;;
    font-size: large;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left : 75px;
    padding-right : 75px;
    padding-bottom: 75px;
}

button{
    background-color: violet;
    font-family: 'Arial';
    float: right;
}