a{
    color: black;
    padding: 10px;
}

header{
    text-align: center;
}

.cat{
    background-color: burlywood;
    font-style: italic;
    display: inline-block;
}

body{
    background-color: #41488e;
}

main{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/hobbies.jpg);
    background-size: cover;
    padding-left: 20px;
    font-family: sans-serif;
}

h1 span, p span{
    color: white;
    background-color: rgba(0,0,0,0.6);
}

h1{
    font-size: 0.5in;
    padding-top: 20px;
    font-weight: 700;
}

button{
    background-color: violet;
    font-family: 'Arial';
    float: right;
}