h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

h1, h2{
    padding-left: 20px;
}

main{
    font-family: Arial;
    margin: 0;
    color: white;
    padding:50px;
}

video{
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: contain;
    background-position-x: center;
    width:100%;
    height: 100%;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-6/311517664_1934185610113320_1071654107787130379_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=xg_zp5QUtMYAX-vOYwY&_nc_ht=scontent.fhyd11-2.fna&oh=00_AT8reaSVjKir2NwF_Ywcx1TT0vK9g2EnavWwX2FhPo9jCg&oe=634CBBFF);
    background-size: cover;
    background-position-x: center;
    margin:0;
}

#about{
    font-size: 18px;
    padding: 70px;
}

iframe{
    background-color: rgba(0,0,0,0.3);
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-6/311463246_1934182920113589_8682756870279924635_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=v9ccAFlQAGUAX9_0fSp&tn=UN2ItFve6eSWz1Wv&_nc_ht=scontent.fhyd11-2.fna&oh=00_AT-BsIXx7XQkiGiXLNzoLLAgXEUohVUn2rUET6E2Qt8mew&oe=634D55E5);
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

hr{
    background-color: rgb(255, 255, 255);
    height: 10px;
}

#contact{
    width: 50px;
    padding-left:15px;
    padding-right:15px;
}

.inside{
    color:antiquewhite;
    font-size: 30px;
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

div{
    width:100%;
    padding-bottom: 35px;
}

nav{
    margin-bottom: 200px;
    background: black;
    height: 60px;
    width: 100%;
    line-height:30px;
    position:fixed;
}

#refresh{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right:50%;
    text-decoration:dashed;
}

#navbar{
    color:aqua;
    font-family: 'Lucia Sans';
    font-size: 15px;
    padding-right: 14px;
    padding-left: 14px;
    text-decoration: none;
    margin-right:0;
}

a{
    font-style:oblique;
}
