h2{
    stroke: black;
    stroke-width: 2px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

h1, h2{
    padding-left: 20px;
}

body{
    font-family: Arial;
    background-color: #020887;
    margin: 0;
}

header{
    color: aliceblue;
    background-image: url();
    background-size: 19cm;
    background-repeat: no-repeat;
    background-position-x: center;
}

.profile{
    font-size: large;
    padding: 50px;
}

hr{
    background-color: rgb(255, 255, 255);
    height: 2px;
}

.iframe {
    padding: 50px;
    margin-left: 6cm;
    background-size: contain;
    background-repeat: no-repeat;
}

main{
    color: white;
}

a{
    color:aqua;
}